.aboutContainer {
  height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
}

.item {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
}


.title {
  font-size: 7.5rem;
  color: #FF6B00;
}

.recSpan {
  color: #042392;
}

.description {
  font-size: 2.5rem;
  color: #292929;
  line-height: 3.3rem;
}

.img {
  width: 100%;
  object-fit: contain;
}